.expense_description{
    display: flex;
    justify-content: space-between;
    padding: 1.5vw;
    background: antiquewhite;
    border-radius: 2rem;
    box-shadow: 2px 2px 3px black;
    align-items: center;
    margin-right:10vw;
    width:90%
}
.btn{
    transition: all 0.3s ease-in-out;
    padding: 0.7vw;
    outline: none;
    border:2px solid red;
    border-radius: 1vw;
    color: red;
    font-weight: bolder;
    background-color: white;
    font-size: 1vw;
    cursor: pointer;
}
.btn:hover{
    background-color: red;
    color:white
}
.expense{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.amount{
    font-weight: bolder;
    color:red;
    font-size: 1.5vw;
}

.expenseDate{
    border:1px solid black;
    padding: 1vw;
    font-weight: bolder;
    border-radius:1rem;
    background: black;
    color: white;
    box-shadow: 5px 5px 20px white;
    text-shadow: 1px 1px 4px white;
}
.day{
    font-size:2rem
}