.expense-class{
    margin:0;
    padding: 0;;
    padding:1%;
    margin: 1% 0%;
    background-image:linear-gradient(rgba(247, 202, 91, 0.834) 30%,rgb(253, 252, 193) 70%);
    border-radius:2vw ;
    border:5px solid red;
    float: left;
    width:90%;
    transition: all 0.3s ease-in;
}
.Add{
    width:100%;
    height: 100%;
    text-align:center;
}
.Add button{
    width:25%;
    color:white;  
    padding: 1rem;
    background-color: rgba(17, 17, 17, 0.863);
    font-size: 1.4rem;
    border-radius: 20px;
    font-weight: bolder;
}