.expense_description{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: antiquewhite;
    border-radius: 2rem;
    box-shadow: 2px 2px 3px black;
    align-items: center;
    margin-right:10rem;
}
.expense{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.amount{
    font-weight: bolder;
    color:red;
    font-size: 1.5rem;
}